################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog/.vs/Blog
/Blog/Blog.Core/obj/Debug
/Blog/Blog.Web/bin
/Blog/Blog.Web/obj/Debug
