@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <p>Total User</p>
                   @* <h3>@ViewBag.CustomerCount</h3>*@

                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                    <i class="icon-question"></i>
                </div>
                <a href="/Admin/Customer/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Total Category </p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="~/admin/supplier/index" class="small-box-footer">View Details <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <p>Total Articles</p>
                   @* <h3>@ViewBag.ProductCount</h3>*@
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="~/admin/Product/Index" class="small-box-footer"> View Details <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>